h1 {
    color: white;
    background-color: rgb(160, 160, 207);
    text-align: center;
    padding: 5px;
}

.barramenu{
	margin: 6px auto;
	background: rgb(160, 160, 207);
    padding: 5px 100px;
}

.barramenu ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 5px 20px;
	color:white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

.submenu{
	position: absolute;
	background:rgb(245, 211, 148);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

section {
    flex: 70%;
    background-color: whitesmoke;
}

aside {
    flex: 30%;
    background-color: rgb(245, 211, 148);
    text-align: center;
}

footer {
    background-color: rgb(245, 211, 148);
    padding: 1px;
}

.contenedor1{
    display: flex;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.imag {
    width: 63%;
}

.personalpicture {
    width: 25%;
}